@import 'variables'
@import 'arcticle'

body
  background: #fff
  margin: 0
  padding: 0

header.page-header

main.page-main
  margin: 0 auto

.page-header ul,
.pagination ul,
.sticky-footer ul
  list-style: none // remove bullets from pagination and categories
  & li
    display: inline
    width: auto
    border: 1px solid black
    font-size: 1.1em
    padding: 6px 6px
    margin: 1px 1px
    border-radius: 3px 3px
    & a
      text-decoration: none
      cursor: pointer
      color: black
    &:nth-child(1)
      background: black
      & a
        color: white
