//@import '~gridlex/src/gridlex'
@import 'reset'
@import 'variables'
@import 'pagination'
@import 'lists'
@import 'sections'

body
  background: #fff
  font: 16px $sans
  height: 100vh
  width: 100wh
  @media (max-width: $bp-lg)
    font-size: 12px


a[href="#"]
  text-decoration: none

.page-wrap
  width: 60%
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: space-beetwen
  align-items: flex-start