extends layout
block content
  include mixins
  - let {categories, news} = require('../data')
  - categories = categories.slice(1)
  header.page-header
    ul
      +link("Город")(class="active")
      each category in categories 
        +link(category)
  main.page-main
    section.news
      each arcticle in news
        +arcticle(arcticle)
    section.pagination
      ul
        +link(1)(class="active")
        each i in [2,3,4,5]
          +link(i)
        +link("->")
  section.sticky-footer: ul
    each category in categories
      +link(category)
  footer.page-footer
    span
