extends layout

block content
  header.site-header
    h1 Heading
  main.site-main.container
    .row
      .col-xs
        .left Left
      .col-xs
        .right Right
  footer.site-footer
    h1 Footer
