-
  var data = {
  paths: {
    modules: '../node_modules/',
    bootstrap: (function() {
      this.modules + 'bootstrap/dist/css/bootstrap.min.css'
    })()
  },
  categories: [
    'Город',
    'Регион',
    'Происшествия',
    'Спорт',
    'Веб',
    'Интервью'
  ],
  news: [{
    date: 'Today',
    content: 'Hello, world'
  },{
    date: 'Yesterday',
    content: 'Heheeey'
  },{
    date: 'Yesterday',
    content: 'Heheeey'
  },{
    date: 'Yesterday',
    content: 'Heheeey'
  },{
    date: 'Yesterday',
    content: 'Heheeey'
  }]
  }
