extends layout
block content
  include mixins
  include data
  - let {categories, news} = data
  - categories = categories.slice(1)
  header.page-header
    ul.list
      +link("Город")(class="active")
      each category in categories 
        +link(category)
  main.page-main
    each arcticle in news
      +arcticle(arcticle)
    ul.list
      +link(1)(class="active")
      each i in [2,3,4,5]
        +link(i)
      +link()(class="arrow")
  footer.page-footer
    ul.list
      each category in categories
        +link(category)
      +link('Поиск')(class="search")
