doctype html
html(lang="ru", manifest=(!production ? "" : "dist/manifest.appcache"))
  head
    title= guestbook
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="")    
    link(rel="stylesheet", href="vendor/normalize.css")
    //link(rel="stylesheet", href="vendor/skeleton.css")
    link(rel="stylesheet", href="vendor/font-awesome.min.css")
    link(rel="stylesheet", href="styles.css")
    script(src="vendor/modernizr-custom.js")
    script(src="vendor/flexibility.js")
  body
    .page-wrap
      block content
